@use "../mixins.scss" as mixins;



.section-collapses {
    @include mixins.flex-display-select(column);
    gap: 30px;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 38px;
    @include mixins.media-queries(mobile) {
        gap: 20px;
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .collapses-container {
        width: 82.5%;
        @include mixins.media-queries(tablet) {
            width: 90%;
        }
        @include mixins.media-queries(mobile) {
            width: 100%;
        }
    }
    .collapses-bar {
        @include mixins.flex-display-select(row);
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background-color: #FF6060;
        padding: 10px 20px 10px 15px;
        h2 {
            color: white;
            font-weight: bold;
        }
        .title-logement-page {
            font-size: 18px;
        }
        img {
            width: 32px;
            height: 32px;
        }
        .collapse-arrows-desactivated, .collapse-arrows-activated {
            transition: all 250ms;
        }
        .collapse-arrows-desactivated {
            transform: rotate(0deg);
        }
        .collapse-arrows-activated {
            transform: rotate(-180deg);   
        
        }
        @include mixins.media-queries(tablet) {
            padding: 5px 15px 5px 10px;
            & h2 {
                font-size: 18px;
            }
            & img {
                width: 24px;
                height: 24px;     
            }
        }
        @include mixins.media-queries(mobile) {
            padding: 4px 10px;
            & h2 {
                font-size: 13px;
            }
            & img {
                width: 24px;
                height: 24px;     
            }
        }
    }
    .collapse-activated, .collapse-desactivated {
        background-color: #F6F6F6;
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
        height: 0;
        text-align: left;
        transition: height 250ms;
        .text-collapses-desactivated, .text-collapses-activated {
            line-height: 25.668px;
            transition: all 250ms;
            @include mixins.flex-display-select(column);
            padding: 16px 20px 20px 20px;
            @include mixins.media-queries(mobile) {
                line-height: 17.112px;
                padding: 13px 20px 19px 20px;
            }
        }
        .text-collapses-desactivated {
            transform: translateY(-100%);
        }
    }
}

.logement-page { // adapted design for location page  
    @include mixins.flex-display-select(row);
    align-items: start;
    gap: 76px;
    margin-top: 24px;
    margin-bottom: 50px;
    h2 {
        font-size: 18px;
    }
    li {
        font-size: 18px
    }
    @include mixins.media-queries(tablet) {
    gap: 35px;
    li {
        font-size: 16px
    }
    }
    @include mixins.media-queries(mobile) {
        @include mixins.flex-display-select(column);
        gap: 20px;
        li {
            font-size: 12px;
        }
    }
}