
@use "../mixins.scss" as mixins;


footer {
    background-color: #000;
    height: 209px;
    display: flex;
}

.footer-container {
    @include mixins.flex-display-select(row);
    justify-content: center;
    align-items: center;
    width: 100%;
    .footer-container-elements {
        @include mixins.flex-display-select(column);
        color: white;
        align-items: center;
        gap: 30px;
        img {
            width: 122px;
            height: 39.44px;
        }
        p {
            font-size: 24px;
        }
        @include mixins.media-queries(tablet) {
            p {
                font-size: 18px;
                padding: 0 122px;
                text-align: center;
            }
          }
        @include mixins.media-queries(mobile) {
            p {
                font-size: 12px;
                padding: 0 122px;
            }
          }
          @include mixins.media-queries(mobile-little-size) {
            p {
                padding: 0;
            }
          }
    }
}